.title {
  text-transform: capitalize;
}

.nav a {
  text-transform: capitalize;
}

.property-name {
  text-transform: capitalize;
  font-weight: bold;
  text-align: right;
}

.form-label {
  text-transform: capitalize;
}

.action {
  margin-right: 1em;
}

.subaction {
  margin-right: 0.5em;
}
